---
language: python
python:
  - "3.7"

services:
  - docker

env:
  global:
    - ROLE_NAME: auth-duo

before_script:
  # Use actual role name for the project directory.
  - cd ../
  - mv cybercinch/ansible-role-$ROLE_NAME $ROLE_NAME
  - cd $ROLE_NAME

install:
  - pip install molecule docker


script:
  - molecule --version
  - ansible --version
  - molecule test